@tailwind base;
@tailwind components;
@tailwind utilities;

/* scroll bar customs */
::-webkit-scrollbar {
  width: 10px;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: #FFA559;
  border-radius: 10px;
}
